#ignore everything
*
#except .vhd, .gitignore, .vhdl, .txt, files
!.gitignore
!*.vhd
!*.vhdl
!*.txt
!*.rpt
!*.png
!*.sh
!*.asm
!*.png
!*.tcl
!src/assembler/conv2memory
!src/assembler/iram
!ph/*

# ...even if they are in subdirectories
!*/
